<!Doctype>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projet 2Djqngo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
     <link rel="stylesheet" href="font.css"/>
</head>
<body>
    <h1>les membres du groupe 2</h1>
    <ul>
        <ol>Diallo safourata</ol>
        <ol>Idris Sacko</ol>
    </ul>
    <div class="projet2"></div>
    <div class="sacko"></div>
    <div class="barry">
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
    </div>
    <div class="sacko">je suis idris</div>
    <div class="barry"></div>
    <div class="moussa"></div>
    <div class="michel mizi saoromy"></div>

</body>
</html>
