<!Doctype>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projet 2Djqngo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
     <link rel="stylesheet" href="font.css"/>
</head>
<body>
    
    
     {% load crispy_forms_tags %}

     {% block content %}
     <form action="" method="post" autocomplete="off">
        {% csrf_token %}

        {{form.nomApp|as_crispy_field}}
        {{form.prenomApp|as_crispy_field}}
        {{form.telApp|as_crispy_field}}
        {{form.EmailApp|as_crispy_field}}
        {{form.adresseApp|as_crispy_field}}

       <button type="submit" value="Submit">Submit</button>
    </form>
     {% endblock content %}

     
</body>
</html>
